<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="DB_133455_mlbhistoryEntities" connectionString="metadata=res://*/MlbHistoryModel.csdl|res://*/MlbHistoryModel.ssdl|res://*/MlbHistoryModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=s20.winhost.com;initial catalog=DB_133455_mlbhistory;persist security info=True;user id=DB_133455_mlbhistory_user;password=klubX511;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DB_133455_mlbhistoryEntities1" connectionString="metadata=res://*/MlbHistoryModel1.csdl|res://*/MlbHistoryModel1.ssdl|res://*/MlbHistoryModel1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=s20.winhost.com;initial catalog=DB_133455_mlbhistory;persist security info=True;user id=DB_133455_mlbhistory_user;password=klubX511;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>